APP_NAME="Yandex Reviews"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=yandex_reviews
DB_USERNAME=app
DB_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=secret

QUEUE_CONNECTION=redis

WS_HOST=0.0.0.0
WS_PORT=6001
WS_SERVER_URL=http://ws-server:6001
WS_INTERNAL_SECRET=changeme

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:5173
FRONTEND_URL=http://localhost:5173

DOCKER_UID=1000
DOCKER_GID=1000

COMPOSE_PROJECT_NAME=parser
